PROMETHEUS_ENDPOINT="https://prometheus-prod-13-prod-us-east-0.grafana.net"
PROMETHEUS_USERNAME="1234567"
# Required scopes: metrics:read and adaptive-metrics-rules:read
PROMETHEUS_API_KEY="glc_key-exmaple-fhdjksajhskdjfhdkajhskdjhkashdfksajhskjasdbksnfjdasdfsfdhsdfksdjakdsjfksadfc="



